# terraform.tfvars - Example configuration
# Copy this to your actual environment and update values as needed

aws_region                 = "eu-north-1"
vpc_id                     = "" # Leave empty to use default VPC
acm_certificate_arn        = "" # Update with your ACM certificate ARN
ec2_instance_type          = "t3.micro"
ec2_availability_zone      = "eu-north-1a"
ec2_ami_id                 = "" # Leave empty to use latest Amazon Linux 2
ec2_subnet_id              = "" # Leave empty to use default subnet
cloudfront_s3_bucket_name  = "transaction-tracker-react-app-pramod-2026"
domain_name                = "www.wheresmymoneyat.in"
